<div class="messages" #elm>
  <!-- {{fx | json}} -->
    <ul>
        <!-- <app-chat-discution-message [appBaseFx]=" {name: 'zoom', factor: 2 }"></app-chat-discution-message> -->
        <!-- <app-chat-discution-message
          [appBaseFx]=" {name: 'rotate', factor: 180}"
          delay="2"
          #fx="Fx"
          #comp
          [appBaseFxOver]>
        </app-chat-discution-message> -->
        <app-chat-discution-message
        [appBaseFxOver]=" {name: 'zoom', factor: 1.2}"
        delay="2"
        *ngFor="let message of messages"
        [message]="message">
      </app-chat-discution-message>
    </ul>
  </div>
  <!-- <ul *ngFor="let message of messages">
    <li>c</li>
  </ul> -->
